.banner {
    position: relative;
    height: 448px;
    object-fit: contain;
    color: white;
}

.banner__contents {
    margin-left: 30px;
    height: 190px;
    padding-top: 140px;
    min-height: 190px;
}

.banner__title {
    font-size: 3rem;
    font-weight: 700;
}

.banner__buttons {
    margin-top: 20px;
}

.banner__button {
    cursor: pointer;
    color: white;
    background-color: rgba(51, 51, 51, 0.5);
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    font-weight: 700;
    border-radius: 4px;
}

.banner__button:hover {
    background-color: white;
    color: black;
}

.banner__description {
    width: 60%;
    margin-top: 20px;
    line-height: 1.3;
    font-size: 1.2rem;
    max-width: 360px;
}

.banner--fadeBottom {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    height: 7.4rem;
}