/* src/components/Banner.css */

.banner {
    position: relative;
    height: 448px;
    color: white;
    object-fit: contain;
}

.banner_contents {
    position: absolute;
    top: 30%;
    left: 30px;
    z-index: 10;
    padding: 20px;
    width: 60%;
}

.banner_title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner_buttons {
    display: flex;
    margin-top: 20px;
}

.banner_button {
    font-size: 1.2rem;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: rgba(51, 51, 51, 0.7);
    color: white;
    transition: all 0.2s ease;
}

.banner_button:hover {
    background-color: rgba(51, 51, 51, 0.9);
}

.banner_description {
    font-size: 1rem;
    max-width: 450px;
    line-height: 1.4;
    padding-top: 1rem;
}

.banner--fadeBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 7.4rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent);
}