.home {
    color: white;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.home__background {
    position: relative;
    height: 100vh;
    background-size: cover;
}

.home__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.home__contents {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.home__title {
    font-size: 3rem;
}

.home__buttons {
    margin-top: 20px;
}

.home__button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.home__button:hover {
    background-color: gray;
}

.home__description {
    margin-top: 20px;
    width: 40%;
    font-size: 1.1rem;
}