.row {
    margin-left: 20px;
}

.row__posters {
    display: flex;
    overflow-x: scroll;
    padding: 20px;
}

.row__poster {
    object-fit: contain;
    width: 100%;
    max-height: 250px;
    margin-right: 10px;
    transition: transform 0.2s;
}

.row__poster:hover {
    transform: scale(1.08);
}

.row__posterLarge {
    max-height: 300px;
}