.row {
    color: white;
    margin-left: 20px;
    margin-bottom: 30px;
}

.row__title {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px 0;
    scrollbar-width: none;
}

.row__posters::-webkit-scrollbar {
    display: none;
}

.row__poster {
    max-height: 100px;
    object-fit: contain;
    border-radius: 4px;
    margin-right: 10px;
    transition: transform 450ms;
    cursor: pointer;
}

.row__poster:hover {
    transform: scale(1.08);
}

@media (max-width: 768px) {
    .row {
        margin-left: 10px;
    }
    .row__title {
        font-size: 1.2rem;
    }
    .row__poster {
        max-height: 80px;
    }
}