/* Row Container Styling */

.row {
    margin-left: 20px;
    margin-top: 20px;
}

.row h2 {
    color: white;
    font-size: 24px;
    font-weight: 600;
    padding-left: 20px;
}


/* Row Poster Styling */

.row_posters {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px 0;
}

.row_posters::-webkit-scrollbar {
    display: none;
    /* Hide the scrollbar */
}

.row_poster {
    max-height: 250px;
    object-fit: contain;
    width: 100%;
    margin-right: 10px;
    transition: transform 0.2s ease;
}

.row_poster:hover {
    transform: scale(1.08);
    opacity: 1;
    cursor: pointer;
}


/* Large Poster Style */

.row_posterLarge {
    max-height: 450px;
    object-fit: contain;
}


/* For Mobile Screens */

@media (max-width: 600px) {
    .row h2 {
        font-size: 18px;
    }
    .row_posters {
        padding: 10px 0;
    }
    .row_poster {
        max-height: 200px;
        width: 150px;
    }
    .row_posterLarge {
        max-height: 350px;
    }
}