/* index.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;00;500;700&display=swap');
:root {
    --primary-color: #e50914;
    --background-color: #141414;
    --text-color: white;
    --hover-color: #b20710;
    --transition-speed: 0.3s;
}


/* Function for responsive font sizes */

@media (max-width: 1200px) {
     :root {
        --font-size-large: 22px;
        --font-size-medium: 18px;
        --font-size-small: 14px;
    }
}

@media (max-width: 768px) {
     :root {
        --font-size-large: 18px;
        --font-size-medium: 16px;
        --font-size-small: 12px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}


/* Buttons */

.button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: var(--font-size-medium);
    font-weight: bold;
    cursor: pointer;
    transition: background-color var(--transition-speed);
    border-radius: 4px;
}

.button:hover {
    background-color: var(--hover-color);
}


/* Typography */

h1 {
    font-size: var(--font-size-large);
    font-weight: 700;
}

h2 {
    font-size: var(--font-size-medium);
    font-weight: 500;
}

p {
    font-size: var(--font-size-small);
    font-weight: 300;
}


/* Responsive Design */

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}